* {
    box-sizing: border-box;
}

html {
    background: #e2e2e2;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #e2e2e2;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    overflow: hidden;
}

.login-form-wrap {
    background: radial-gradient(ellipse at center, #5170ad 0%, #355493 100%);
    border: 1px solid #2d416d;
    box-shadow: 0 1px #5670a4 inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 400px;
    height: 420px;
    margin: 20px;
    padding: 50px 30px 0 30px;
    text-align: center;
}

.login-form-wrap h1 {
    margin: 0 0 50px 0;
    padding: 0;
    font-size: 40px;
    color: #fff;
}

.login-form-wrap h5 {
    margin-top: 40px;
}

.login-form-wrap h5>p {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.login-form-wrap h5>p>span {
    font-weight: 600
}

.login-form input[type="secret"],
.login-form input[type="code"] {
    width: 100%;
    border: 1px solid #314d89;
    outline: none;
    padding: 12px 20px;
    color: #000000;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.login-form input[type="secret"] {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    padding-bottom: 13px;
    box-shadow: 0 -1px 0 #e0e0e0 inset, 0 1px 2px rgba(0, 0, 0, 0.23) inset;
}

.login-form input[type="code"] {
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.23) inset, 0 1px 2px rgba(255, 255, 255, 0.1);
}

.login-form input[type="submit"] {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background: linear-gradient(to bottom, #e0e0e0 0%, #cecece 100%);
    display: block;
    margin: 20px auto 0 auto;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 8px;
    font-size: 17px;
    color: #636363;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
    font-weight: 700;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.36) inset;
}

.login-form input[type="submit"]:hover {
    background: #ddd;
    cursor: pointer;
}

.login-form input[type="submit"]:active {
    padding-top: 9px;
    padding-bottom: 7px;
    background: #c9c9c9;
}