/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    scroll-behavior: smooth;
    --hue: 207;
    --sat: 90%;
    --lig: 61%;
    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 12%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 75%);
    --text-color-lighten: hsl(var(--hue), 8%, 92%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: hsl(var(--hue), 24%, 12%);

    --color02: #fff;
    --nav-bar: rgba(0, 0, 0, 0.22);
    --navbar-bg: rgba(255, 255, 255, 0.663);
    --box-shadow: rgba(116, 116, 116, 0.136);
    transition: background-color 0.5s ease;

    /*.5rem = 8px | 1rem = 16px ...*/
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 968px) {
    :root {
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}  

body.dark {
    --title-color: hsl(var(--hue), 12%, 95%);
    --text-color: hsl(var(--hue), 12%, 75%);
    --body-color: hsl(var(--hue), 40%, 8%);
    --container-color: #fff;
    
    --color02: hsl(var(--hue), 24%, 12%);
    --nav-bar: rgba(255, 255, 255, 0.22);
    --navbar-bg: rgba(20, 20, 20, 0.663);
    --box-shadow: rgba(255, 255, 255, 0.12);
    transition: background-color 0.5s ease;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}



::-webkit-scrollbar {
    width: 8px;
    background-color: var(--body-color);
    transition: background-color 0.5s ease;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--first-color);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: 600;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: 100;
    transition: background-color 0.5s ease;
    box-shadow: 1px 1px 10px 2px var(--box-shadow);
    backdrop-filter: blur(10px) !important;
    background-color: var(--navbar-bg) !important;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    transition: background-color 0.5s ease;
}

.h__logo {
    color: var(--container-color);
    font-weight: 500;
    transition: 0.4s;
    font-size: .938rem;
    transition: background-color 0.5s ease;
}

.h__logo:hover {
    color: var(--first-color);
    transition: background-color 0.5s ease;
}



/*****/
.dark-light {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}


.dark-light i {
    position: absolute;
    color: var(--container-color);
    cursor: pointer;
    transition: all 0.3s ease;
    transition: background-color 0.5s ease;
}

.dark-light i:hover {
    color: var(--first-color);
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
    transition: background-color 0.5s ease;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
    transition: background-color 0.5s ease;
}

.dark-light.active i.moon {
    opacity: 0;
    transition: background-color 0.5s ease;
    pointer-events: none;
}

.bg-img {
    text-align: center;
    position: relative;
    z-index: -1;
}

.background-img {
    width: 70%;
    max-width: 700px;
    height: 30vh;
    border-radius: 8px;
    position: relative;
    z-index: -1;
    object-fit: cover;
    box-shadow: 1px 1px 10px 2px var(--box-shadow);
    display: block;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .background-img {
        object-fit: fill;
        width: auto;
        height: 160px;
    }
}

.profile {
    position: relative;
    padding-top: 5rem;
    transition: background-color 0.5s ease;
}

.profile__area {
    row-gap: 2rem;
    transition: background-color 0.5s ease;
    position: relative;
    transform: translateY(-15%);
}

.profile__data {
    display: grid;
    text-align: center;
    width: max-content;
    margin: 0 auto;
    transition: background-color 0.5s ease;
}

.profile__border {
    border: 3.5px solid var(--first-color);
    position: relative;
    justify-self: center;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    display: grid;
    place-items: center;
    margin-bottom: 1.25rem;
    transition: background-color 0.5s ease;
}

svg {
    place-items: center;
    transition: background-color 0.5s ease;
}

.profile__data:hover svg {
    animation: AC 1s linear infinite;
    transition: background-color 0.5s ease;
}

@keyframes AC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .tooltip {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateY(-150%);
    max-width: 200px;
    white-space: normal;
    word-wrap: break-word;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(0%);
    border-width: 6px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
.profile__name svg:hover + .tooltip {
    visibility: visible;
    opacity: 1;
} */

.profile__perfil {
    width: 120px;
    height: 120px;
    background: linear-gradient(180deg, hsl(var(--hue), var(--sat), var(--lig), 1) 0%, hsl(var(--hue), var(--sat), var(--lig), 0.2) 100%);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: background-color 0.5s ease;
}



.profile__perfil img {
    width: 120px;
}

img {
    max-width: 100%;
    height: auto;
}

.profile__name {
    font-size: var(--h2-font-size);
}

.profile_profession {
    font-size: var(--smaller-font-size);
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.profile__social {
    display: flex;
    justify-content: center;
    column-gap: 0.75rem;
    padding: 0 !important;
}

.profile__social_link {
    font-size: 1.25rem;
    color: var(--container-color);
    transition: .3s;
}

.profile__social_link:hover {
    color: var(--first-color);
}

.profile__info {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    column-gap: 2.5rem;
}

.profile__info-group {
    text-align: center;
}

.profile__info_number {
    font-size: .938rem;
    margin-bottom: 0.25rem;
}

.profile__info-description {
    font-weight: 500;
    font-size: var(--small-font-size);
}



.button {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    background-color: var(--first-color);
    color: #FFF !important;
    border-radius: 1rem;
    transition: .3s;
    justify-content: center;
    width: 180px;
    height: 60px;
    font-weight: 500;
}

.button:hover {
    background-color: var(--first-color-alt);
}


.button i {
    font-size: 1.25rem;
    display: flex;
    transition: transform 0.2s ease-in-out;
}

.button i:hover {
    animation: shake 0.3s ease-in-out infinite;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}


.profile__buttons,
.profile__buttons-small {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.profile__buttons {
    column-gap: 1rem;
}

.profile__buttons-small {
    column-gap: 0.25rem;
}

.button__gray {
    background-color: var(--text-color-lighten);
    color: var(--first-color) !important;
    border-radius: 50px;
    transition: background-color 0.5s ease;
}

.button__gray:hover {
    background-color: var(--text-color-light);
    color: var(--first-color) !important;
    transition: background-color 0.5s ease;
}

.button__small {
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
    transition: background-color 0.5s ease;
    height: 50px;
}

.nav__menu {
    position: fixed;
    bottom: 1.5rem;
    background-color: var(--nav-bar);
    border-radius: 4rem;
    padding: 0.8rem 2rem;
    backdrop-filter: blur(10px);
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: background-color 0.5s ease;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin: 0 auto;
    transition: background-color 0.5s ease;
    padding: 0 !important;
}

.active-link {
    background-color: var(--first-color);
    color: #FFF !important;
    ;
    filter: drop-shadow(1px 3px 4px var(--first-color));
    transition: background-color 0.5s ease;
}

.nav__item a:hover {
    color: #FFF !important;
    background-color: var(--first-color);
    transition: background-color 0.5s ease;
}

.nav__link {
    display: flex;
    color: #ffffff;
    font-size: 1.25rem;
    padding: 0.6rem;
    border-radius: 5rem;
    transition: background-color 0.5s ease;
}

.nav__link i {
    display: flex;
    transition: background-color 0.5s ease;
}


#contact {
    padding: 2rem 0 2rem;
    transition: background-color 0.5s ease;
    height: 80vh;
}


#project,
#skills,
#services {
    padding: 2rem 0 2rem;
    transition: background-color 0.5s ease;

}


.services__box_area,
.projects__content {
    grid-template-columns: 332px !important;
    justify-content: center;
    gap: 2rem;
    transition: background-color 0.5s ease;
}

.projects__card {
    position: relative;
    border-radius: 1rem;
    transition: background-color 0.5s ease;
    overflow: hidden;
}

.projects__card img {
    width: 100%;
    height: 100%;
}

.projects__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 64, 6, 0) 0%, black 95%);
    display: grid;
    align-items: flex-end;
    padding: 1.5rem;
    transition: .3s;
    transition: background-color 0.5s ease;
}

.projects__subtitle {
    font-size: var(--small-font-size);
}

.projects__subtitle,
.projects__title {
    color: #fafdff;
}

.projects__title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.75rem;
}

.projects__button {
    width: 40px;
    height: 40px;
}


.projects__card:hover .projects__modal {
    bottom: 0;
    color: #fff !important;
}

.skills__content {
    row-gap: 3.5rem;
    justify-content: center;
}

.skills_title {
    font-size: var(--h3-font-size);
    text-align: center;
    margin-bottom: 1.8rem;
}

.skills__box {
    display: flex;
    justify-content: space-around;
    column-gap: 3rem;
}

.skills__group {
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: 0.2rem;
}

.skills__data i {
    font-size: 1rem;
    color: var(--first-color);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: 500;
    line-height: 18px;
}

.skills__level {
    font-size: .75rem;
}

.project__title,
.skills__title,
.services__title,
.contact__title {
    margin-top: 3rem;
    display: flex;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 3.5rem;
    justify-content: center;
    position: relative;
}

.project__title::before,
.skills__title::before,
.services__title::before,
.contact__title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    right: 0;
    height: 8px;
    width: 120px;
    margin: 0 auto;
    width: 128px;
    background: var(--first-color);
    height: 4px;
    border-radius: 0px 0px 10px 10px
}

.project__title::after,
.skills__title::after,
.services__title::after,
.contact__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    right: 0;
    height: 8px;
    width: 120px;
    margin: 0 auto;
    width: 28px;
    background: var(--first-color);
    height: 5px;
    border-radius: 0px 0px 10px 10px
}

.skills__area,
.service__box,
.contact__box {
    width: 100%;
    height: 100%;
    background: var(--color02);
    padding: 2.3rem;
    transition: .3s;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 2px var(--box-shadow);
}

.service__box .icon img {
    width: 50px;
    margin-bottom: 20px;
}

.service__box h5 {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    color: var(--container-color);
    font-weight: 600;
}

.see__more {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    justify-content: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--first-color) !important;
    background: transparent;
    transition: 0.4s ease-in-out;
}

.arrow {
    display: flex;
    transition: 0.4s ease-in-out;
}

.see__more:hover .arrow {
    margin-left: 10px;
}


.contact__box_area {
    display: flex;
    max-width: 610px;
    margin: 0 auto;

}

form {
    position: relative;
    width: 100%;
}

form input {
    color: var(--container-color);
    width: 100%;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 45px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 20px;
    background: transparent;
}

input:focus,
textarea:focus {
    border: 1px solid var(--first-color);
    color: var(--container-color);
    outline: none !important;
}

form textarea {
    color: var(--container-color);
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 40px;
    background: transparent;
    border: 1px solid var(--text-color);
    padding: 15px 20px;
}





.footer__copy {
    display: block;
    margin: 3.5rem 0 8rem;
    text-align: center;
    font-size: .813rem;
    color: var(--text-color);
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
    .profile__buttons {
        /* flex-direction: column; */
        row-gap: 1rem;
    }
    .background-img {
        object-fit: fill;
        width: auto;
        height: 160px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 780px) {

    .skills__content {
        grid-template-columns: repeat(1, 380px) !important;
    }
}


@media only screen and (min-width: 600px) and (max-width: 992px) {

    .projects__content,
    .services__box_area {
        grid-template-columns: repeat(2, 270px) !important;
        align-items: center;
        justify-content: center;
    }

    .skills__content {
        grid-template-columns: repeat(2, 360px);
    }

    .skills__content {
        gap: 2rem;
    }
}


@media only screen and (min-width: 993px) and (max-width: 1920px) {

    .projects__content,
    .skills__content,
    .services__box_area {
        grid-template-columns: repeat(2, 380px) !important;
        align-items: center;
        justify-content: center;
    }

    .skills__content {
        gap: 3rem;
    }
}
